<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="dark">
  <title>{{ title }} - ffmpeg.party</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/output.css">
  {% if customCSS %}
  <link rel="stylesheet" href="/css/{{ customCSS }}">
  {% endif %}
</head>
<body class="bg-zinc-950 text-zinc-100 overflow-hidden">
  {{ content }}
  {% if customJS %}
  <script src="/js/{{ customJS }}"></script>
  {% endif %}
</body>
</html>
